a:link {
  color: #16c79a;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid #16c79a; }

a:visited {
  color: #16c79a;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid #16c79a; }

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid red; }

a:active {
  color: #f8f1f1;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid #f8f1f1; }

body {
  background-color: #f8f1f1; }

h1, h4 {
  font-family: 'Acme', sans-serif;
  color: #f8f1f1; }

h2, h3 {
  font-family: 'Acme', sans-serif;
  color: #19456b; }

p {
  font-family: 'Acme', sans-serif;
  color: #19456b; }

.btn-ebony {
  background-color: #272731;
  color: #B4AD86;
  font-family: 'Acme', sans-serif;
  font-size: 200%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }

.btn-ebony.active {
  border-color: #16c79a;
  border-width: 4px; }

.btn-jade {
  background-color: #7AB1C5;
  color: #E5CC93;
  font-family: 'Acme', sans-serif;
  font-size: 200%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }

.btn-jade.active {
  border-color: #16c79a;
  border-width: 4px; }

.btn-denim {
  background-color: #9C6320;
  color: #738C99;
  font-family: 'Acme', sans-serif;
  font-size: 200%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }

.btn-denim.active {
  border-color: #16c79a;
  border-width: 4px; }

.btn-primary {
  background-color: #16c79a;
  color: #19456b; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none; }

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #16c79a; }

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #16c79a; }

.carousel-indicators .active {
  background-color: #16c79a; }

.fhDark {
  color: #19456b; }

.fhLight {
  color: #f8f1f1; }

.friends-body {
  background-color: #16c79a; }

.friends-header {
  background-color: #19456b;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }

.friends-title {
  padding-left: 20px; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #f8f1f1;
  color: #f8f1f1; }

.jumbotron-center {
  /* Center rectangle on the header */
  background: #11698E;
  border-radius: 29px; }

.nav-item a {
  border-bottom: none;
  font-size: 150%; }

.parallax {
  background-image: url("../img/display.webp");
  height: 750px;
  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.navbar {
  background-color: #19456b;
  font-family: 'Acme', sans-serif; }

.row-content {
  padding: 50px 0;
  border-bottom: 2px ridge;
  min-height: 100px; }

.site-footer {
  background-color: #19456b;
  color: #f8f1f1; }

.site-footer-text {
  color: #f8f1f1; }
