$color-primary: #19456b;
$color-secondary: #11698E;
$color-pale: #f8f1f1;
$color-accent: #16c79a;

a:link {
    color: $color-accent;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid $color-accent;
}
a:visited {
    color: $color-secondary;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid $color-secondary;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid red;
}
a:active {
    color: $color-pale;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 1px solid $color-pale;
}



body {
    background-color: $color-pale;
}

h1, h4 {
    font-family: 'Acme', sans-serif;
    color: $color-pale;
}

h2, h3 {
    font-family: 'Acme', sans-serif;
    color: $color-primary;
}

p {
    font-family: 'Acme', sans-serif;
    color: $color-primary;
}

.btn-primary {
    background-color: $color-accent;
    color: $color-primary;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: $color-accent;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: $color-accent;
}

.carousel-indicators .active{
    background-color: $color-accent;
}

.fhDark {
    color: $color-primary;
}

.fhLight {
    color: $color-pale;
}

.friends-body {
    background-color: $color-accent;
}

.friends-header {
    background-color: $color-primary;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.friends-title {
    padding-left: 20px;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: $color-pale;
    color: $color-pale;
}

.jumbotron-center {
    /* Center rectangle on the header */
background: $color-secondary;
border-radius: 29px;
}

.nav-item a {
    border-bottom: none;
    font-size: 150%;
}

.parallax {
    background-image: url("../img/display.webp");
    height: 750px;
  
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: $color-primary; 
    font-family: 'Acme', sans-serif;
}

.row-content {
    padding: 50px 0;
    border-bottom: 2px ridge;
    min-height: 100px;
}

.site-footer {
    background-color: $color-primary;
    color: $color-pale;
}

.site-footer-text {
    color: $color-pale;
}