body {
  background-color: #f8f1f1; }

h1 {
  font-family: 'Acme', sans-serif;
  color: #f8f1f1; }

h2, h3 {
  font-family: 'Acme', sans-serif;
  color: #19456b; }

p {
  color: #19456b; }

.btn-primary {
  background-color: #16c79a;
  color: #19456b; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #f8f1f1;
  color: #f8f1f1; }

.jumbotron-center {
  /* Center rectangle on the header */
  background: #11698E;
  border-radius: 29px; }

.navbar {
  background-color: #19456b;
  font-family: 'Acme', sans-serif; }

.site-footer {
  background-color: #19456b;
  color: #f8f1f1; }

.site-footer-text {
  color: #f8f1f1; }
