$color-primary: #19456b;
$color-secondary: #5637dd;
$color-tertiary: #11698E;
$color-pale: #f8f1f1;
$color-accent: #16c79a;

body {
    background-color: $color-pale;
}

h1 {
    font-family: 'Acme', sans-serif;
    color: $color-pale;
}

h2, h3 {
    font-family: 'Acme', sans-serif;
    color: $color-primary;
}

p {
    font-family: 'Acme', sans-serif;
    color: $color-primary;
}

.btn-primary {
    background-color: $color-accent;
    color: $color-primary;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: $color-pale;
    color: $color-pale;
}

.jumbotron-center {
    /* Center rectangle on the header */
background: $color-tertiary;
border-radius: 29px;
}

.parallax {
    background-image: url("display.webp");
    height: 750px;
  
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: $color-primary; 
    font-family: 'Acme', sans-serif;
}

.row-content {
    padding: 50px 0;
    border-bottom: 2px ridge;
    min-height: 200px;
}

.site-footer {
    background-color: $color-primary;
    color: $color-pale;
}

.site-footer-text {
    color: $color-pale;
}